@page "/"

<div class="jumbotron">
    <h1 class="display-4">Attendance Management</h1>
    <p class="lead">A complete project framework that has everything you need to manage your employees attendance and leave.</p>
    <hr class="my-4">
    <ul style="line-height:1.8;">
        <li><b>Employees</b> - List All The Employees with their schedules.</li>
        <li><b>File Management</b> - Generate Reports and download files.</li>
        <li><b>Users</b> - Manage the Users of the system and configure them.</li> 
        <li><b>Attendances</b> - Assign attendances and leaves of the employees.</li>
        <li><b>Payrolls</b> - Manage Payrolls of the employees in your company.</li>
        <li><b>Authentication</b> - JWT-based user authentication with page and service level access constraints. Try user ID and password of admin / admin to login.</li>
        <li><b>API</b> - A full rest API with Swagger documentation.</li>
    </ul>
</div>